<launch>
   <arg name="controller" default="pos"/> <!-- 'vel' or 'traj_vel'-->

    <!-- Load the parameters for the algorithm -->
    <rosparam command="load" file="$(find my_aubo_i5_robot_config)/config/reaching_params.yaml" />

    <!-- Launch the training system -->
    <node pkg="my_aubo_i5_robot_config" name="my_aubo_i5_robot_config" type="gazebo_execution.py" output="screen" args="$(arg controller)"/>

</launch>